

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Receipt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        body {
            padding: 50px;
            height: 100%;
        }
    </style>

</head>

<body>

    <div style="width: 600px;">
        <div style="float: right;font-weight: bold;color: #768699;position: relative;"><a href="/@ViewBag.Referrer">make another payment</a></div>
        <h4>Receipt</h4>
    </div>

    <div style="padding: 10px;">

        <div style="margin: 0 0 20px 0;color: #4784AD;font-weight: bold;">
            Thank you for your payment.
            <br />Please retain this receipt for your records.
        </div>

        <div style="float: left;">
            <strong><i>Payment Details</i></strong><br />
            <div style="color: gray;">
                <i>@DateTime.UtcNow</i><br />
                Your TransactionId is: <span id="unique-trans-id"><i>@Model.UniqueTransID</i></span><br />
                Payment Amount: <strong><i>@Model.AmountProcessed</i></strong><br />
                Approval Number: <strong><i>@Model.ApprovalNumberResult</i></strong><br />
                Billing Name: <strong><i>@Model.BillingName</i></strong><br />
                Masked Account: <strong><i>@Model.MaskedAccount</i></strong><br />
                Expiration Date: <strong><i>@Model.AccountExpiryDate</i></strong><br />
                Card Type: <strong><i>@Model.AccountCardType</i></strong><br />
                Reference: <strong><i>@Model.ReferenceId</i></strong>
            </div>
        </div>

        <div style="float: left;margin: 0 0 0 100px;">
            <strong><i>Billing Address</i></strong><br />
            <div style="color: gray;">
                Joe Smith<br />
                1234 My Street, Ave<br />
                Eagle, ID 83616<br />
                USA
            </div>

        </div>

        <table class="table table-bordered table-striped" style="clear: both;margin: 250px 0 0 0;">
            <colgroup>
                <col class="col-xs-1">
                <col class="col-xs-7">
            </colgroup>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>Lightbulb</code>
                    </td>
                    <td>High Efficency</td>
                    <td align="right">$4.99</td>
                </tr>
                <tr>
                    <td>
                        <code>Dishwasher</code>
                    </td>
                    <td>Stainless steel</td>
                    <td align="right">$400.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color: #EBECED;">
                    <td></td>
                    <td align="right"><strong>Total</strong></td>
                    <td align="right"><strong>$404.99</strong></td>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="navbar navbar-fixed-bottom footer">

        Copyright &copy 2012 Payment Processing Partners, Inc. All rights reserved.<br />

        <a href="http://www.chargeitpro.com/privacy.html">Privacy & Security</a> | <a href="http://www.chargeitpro.com/terms.html">Terms & Conditions</a>

    </div>

</body>
</html>